* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #e2d1d0;
    color: #a6603a;
}

p {
    font-family: "Dosis", sans-serif;
    font-size: xx-large;
}

h1,
h2,
h3,
h4 {
    font-family: "Noto Serif JP", serif;
}


h2 {
    font-size: 100px;
    margin-bottom: 30px;
}


ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* nav bar */

#navbar {
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.navbar_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 600;
}


/* HERO */
.hero {
    position: relative;
}

.hero-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #69443c;
    text-align: center;
    width: 80%;
}

.hero-text h1 {
    font-size: 90px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 25px;
    margin-bottom: 10px;
}



/* STORY SECTION */
.story {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 5%;
    gap: 60px;
}

.story.reverse {
    flex-direction: row-reverse;
}

.story-img {
    width: 50%;
    border-radius: 30px;
}

.story-content {
    width: 60%;
}



/* PRODUCT GRID */
.products {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.products h3 {
    font-size: 36px;
    margin-bottom: 25px;
}

.grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    width: 480px;
}

.product img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product_details {
    display: flex;
    flex-direction: column;
}


/* Contact */

.contact {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 700px;
}

.contact_detils {
    width: 800px;
}

.contact-img {
    height: 500px;
}

.contact_info {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 80px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 100px;
}